<!DOCTYPE html>
<html>
<head>
   <title>D-I</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
        img {
        width: 90%;
        height: auto;
        }
        </style>
</head>

<body>
<div style="text-align : center;">
   <h1>이런 의상을 추천해요!</h1>
   <br>
   <h2>상의</h2>
    <img src= {{top}} width="700" height="650">
    <br><br><br>
    <h2>하의</h2>
   <img src= {{pants}} width="700" height="650">
</div>

</body>
</html>0%;
        height: auto;
        }
        </style>
</head>

<body>
<div style="text-align : center;">
   <h1>이런 의상을 추천해요!</h1>
   <br>
   <h2>상의</h2>
    <img src= {{top}} width="700" height="650">
    <br><br><br>
    <h2>하의</h2>
   <img src= {{pants}} width="700" height="650">
</div>

</body>